h1{
    text-align: center;
}
body{
    background-size: cover;
    background-color: #2e282a;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
    width: 50vw;
    max-width: 80vmin;
    min-width: 30vw;
    margin: 0 auto;
    height: auto;
    gap: 0.4rem;
}
.grid-item {
    background-color: #2e282a;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.grid-item:hover {
    background-color: #2e282a;
    cursor: pointer;
}
.freespace{
    background-color: #2e282a;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
.clicked:hover {
    background-color: #2e282a;
    cursor: default;
}

.clicked{
    background-color: #2e282a;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#newGame{
    background-color: pink;
}
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        aspect-ratio: 1 / 1;
        width: 92vw;
        min-width: 92vw;
        margin: 0 auto;
        height: auto;
        gap: 0.2rem;
}
}
