h1{
    text-align: center;
}
body{
    background-size: cover;
    background-color: #2e282a;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
    width: 40vw;
    max-width: 80vmin;
    min-width: 30vw;
    margin: 0 auto;
    height: auto;
}
.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.grid-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
.freespace{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
.clicked:hover {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: default;
}

.clicked{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#newGame{
    background-color: pink;
}
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        aspect-ratio: 1 / 1;
        width: 90vw;
        min-width: 30vw;
        margin: 0 auto;
        height: auto;
}
}
