h1{
    text-align: center;
}
body{
    background-size: cover;
    background-color: #2e282a;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
    width: 50vw;
    max-width: 80vmin;
    min-width: 30vw;
    margin: 0 auto;
    height: auto;
    gap: 0.4rem;
}
.grid-item {
    background-color: #2e282a;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.grid-item:hover {
    background-color: #2e282a;
    cursor: pointer;
}
.freespace{
    background-color: #2e282a;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
.clicked:hover {
    background-color: #2e282a;
    cursor: default;
}

.clicked{
    background-color: #2e282a;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        aspect-ratio: 1 / 1;
        width: 92vw;
        min-width: 92vw;
        margin: 0 auto;
        height: auto;
        gap: 0.2rem;
}
}

.logo {
    display: block;
    margin: 0 auto;
    width: 10%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    transform: translateX(-1%);
}

#drunk-switch {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: 1s;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #d397ad;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.switch-track {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
}

.switch-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #952c52;
  border-radius: 50%;
  transition: 0.4s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.switch.active {
  background-color: #952c52;
}

.switch.active .switch-thumb {
  left: 32px;
  background-color: #d397ad;
}
.wine{
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 0;
}
.switch-holder {
    position: fixed;
    right: 3em;
    top: 5em;

}

.btn {
    display: block;
    margin: 0 auto;
    width: 10%;
    max-width: 300px;
    height: auto;
    margin-top: 5px;
}
